<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= content1 %></p>
    <% for(let i = 0 ; i < data.length ; i++){ %>
        <h1><%= data[i].name %></h1>      
         <p><%= data[i].data.substring(0,100) + "..." %> <a href="
            /post/<%= data[i]._id%>
            "> Read More</a></p>   
    <%}%>
<%- include("partials/footer") -%>
